dist: trusty
language: generic
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y python-yaml xsltproc
script:
  - mkdir tttool
  - cd tttool
  - wget https://github.com/entropia/tip-toi-reveng/releases/download/1.8.1/tttool-1.8.1.zip
  - unzip tttool-1.8.1.zip
  - PATH="$PWD:$PATH"
  - cd ..
  - make
